.controls {
  display: flex;
  justify-content: space-between;

  * {
    display: inline-block;
    flex: 1 0 auto;
    text-transform: capitalize;
  }

  .button {
    flex: 0 0 auto;
    width: 120px;
  }
}

.time {
  flex: 0 0 auto;
}
