.info {
  display: flex;
  justify-content: space-between;

  .item {
    display: flex;
    align-items: center;
    flex: auto;
    width: 250px;
    border: 1px dotted #444;
    border-radius: 10px;

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }

    > * {
      display: flex;
      flex: 1 0 auto;
      text-transform: capitalize;
      margin: 0.5em 0.75em;
      justify-content: center;
    }

    @media (prefers-color-scheme: dark) {
      border: 1px dotted #ddd;
    }
  }
}
