.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  min-width: 500px;
}

header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2rem;
}

header h1 {
  width: 500px;
  text-align: left;
  font-family: monospace;
  font-size: 1.75em;
}

.content {
  flex: 1;
  width: 500px;
  margin: auto;
}

footer {
  padding: 1em;
  width: 500px;
  margin: auto;
}

@media (prefers-color-scheme: dark) {
  .App {
    background-color: #333;
    color: #ccc;
    border-color: #ccc;
  }

  header {
    background-color: rgb(136, 136, 136);
    color: black;
  }

  input {
    background-color: #333;
    color: #ccc;
  }
}
