.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  min-width: 600px;
}

.Toastify__toast-container {
  width: 600px;
}

header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2rem;
}

header .header-row {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 500px;
}

header h1 {
  display: inline-block;
  margin: 0.75em 0;
  text-align: left;
  font-family: monospace;
  font-size: 1.75em;
}

header .icon-mono {
  width: 70px;
  enable-background: new 0 0 445.049 445.049;
}

header .theme-changer {
  width: 150px;
  margin: 0 auto 10px;
}

header .pretty {
  top: 10px;
  margin-left: 5px;
}

header .pretty.p-switch input {
  min-width: 4em;
}

.content {
  flex: 1;
  width: 500px;
  margin: auto;
}

.loading-scrim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.3);
}

footer {
  padding: 1em 0;
  width: 500px;
  margin: auto;
}

*:focus {
  outline: 1px solid #ff3bf4;
  box-shadow: 0 0 13px #ff3bf4;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.App.dark {
  background-color: #333;
  color: #ccc;
  border-color: #ccc;
}

.dark header {
  background-color: rgb(136, 136, 136);
  color: black;
}

.dark input {
  color: #ccc;
}

.dark .cell {
  border-color: #ddd;
}

.dark .info-item {
  border: 1px dotted #ddd;
}

.dark .button {
  color: #ccc;
  border: 1px solid #ccc;
}

.dark .button:hover {
  color: white;
  border: 1px solid white;
}

.dark .button.disabled {
  background-color: #555;
}

.dark .button.disabled:hover {
  color: #ccc;
  border: 1px solid #ccc;
  filter: none;
  cursor: default;
}

.dark .row3,
.dark .row6,
.dark .col3,
.dark .col6,
.dark .col1,
.dark .col9,
.dark .row1,
.dark .row9 {
  border-color: #ddd;
}
